@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --font-body: "Inter", "Avenir", "Helvetica", "Arial", sans-serif;
}

input::-ms-reveal,
input::-ms-clear,
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  display: none !important;
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 4.9% 83.9%);
  --ring: hsl(240 5% 64.9%);
  --radius: 0.5rem;

  --butty-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.06),
    0 6px 12px rgba(0, 0, 0, 0.06);
  --card-bg: #f8f9fa;
  --app-bg: #f5f8fa;
  --content: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(240 10% 3.9%);
    --foreground: hsl(0 0% 98%);
    --card: hsl(240 10% 3.9%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(240 10% 3.9%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(240 5.9% 10%);
    --secondary: hsl(240 3.7% 15.9%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(240 5.9% 10%);
    --muted-foreground: hsl(240 4.4% 58%);
    --accent: hsl(240 5.9% 10%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(240 3.7% 15.9%);
    --input: hsl(240 3.7% 15.9%);
    --ring: hsl(240 3.8% 46.1%);
    --card-bg: #171717;
    --app-bg: #0a0a0a;
    --content: #ebebeb;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

body {
  @apply h-screen;
  @apply m-0;
  @apply font-body;
  @apply text-[#090909] dark:text-[#f6f6f6];

  @apply bg-[var(--app-bg)] transition duration-500 ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}

body[window-blur] {
  overflow: hidden;
  pointer-events: none;
  overscroll-behavior: contain;
  touch-action: none;
  user-select: none;
}

#root {
  @apply h-full;
}

main {
  @apply h-full;
}

h1 {
  @apply font-bold text-2xl;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.trim-ex {
  /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
  text-box: ex alphabetic;
}

.trim-cap {
  /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
  text-box: cap alphabetic;
}

.trim-end {
  text-box: trim-end ex alphabetic;
}

#window-blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  pointer-events: auto !important;
  background-color: transparent;
}

#windows-control-portal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
}

.lightbox-shadow {
  --shadow-color: 0deg 0% 47%;
  box-shadow: 0 0 10px hsl(var(--shadow-color) / 0.3),
    0 0 30px hsl(var(--shadow-color) / 0.67);
}

@media (prefers-color-scheme: dark) {
  .lightbox-shadow {
    --shadow-color: 0deg 0% 47%;
    box-shadow: 0 0 10px hsl(var(--shadow-color) / 0.3),
      0 0 30px hsl(var(--shadow-color) / 0.67);
  }
}

[data-rounded-scroll="true"] div::-webkit-scrollbar {
  display: none;
}
[data-rounded-scroll="true"] div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
input::-ms-reveal,
input::-ms-clear,
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  display: none !important;
}

.hover\:glow-box:hover {
  mix-blend-mode: plus-lighter;
  box-shadow: 0 0 30px 0 #9e9e9e;
}

@utility mask-lor {
  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

@utility mask-rol {
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

@utility mask-tob {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.liquidGlass-wrapper {
  position: relative;
  display: flex;
  /* font-weight: 600; */
  overflow: hidden;

  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1); */

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;

  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.2); */
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;

  overflow: hidden;

  box-shadow: inset 2px 2px 1px 0 rgba(0, 0, 0, 0.5),
    inset -1px -1px 1px 1px rgba(0, 0, 0, 0.5);
}

.shine {
  box-shadow: inset 2px 2px 1px 0 rgba(0, 0, 0, 0.5),
    inset -1px -1px 1px 1px rgba(0, 0, 0, 0.5);
}

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");

.font-cinzel {
  font-family: "Cinzel Decorative", serif;
}

html,
body,
#root,
:root {
  width: 100%;
  height: 100%;
}
[data-paper-shader] {
  position: absolute;
  inset: 0;
}

.lg-btn-action {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
}

@media (prefers-color-scheme: dark) {
  .lg-btn-action {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  }
}

.gl {
  backdrop-filter: url(#filter);
}

.gl-shadow {
  box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.02),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.01);
}

button[data-button].lg-btn-action,
[data-sonner-toast][data-styled="true"] button[data-button].lg-btn-action {
  background: none !important;
  background-color: transparent !important;
  color: #525252 !important;
}

@media (prefers-color-scheme: dark) {
  button[data-button].lg-btn-action,
  [data-sonner-toast][data-styled="true"] button[data-button].lg-btn-action {
    background: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    background-color: transparent !important;
    color: #e5e5e5 !important;
  }
}
